<div class="row">
    <h1>Formacion Academica</h1>
    <div class="col-lg-11">
        <ul>
            <li><h1>Formacion 1</h1> - 
            <h3>(años)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Neque animi, voluptas, placeat, 
                 provident quam enim perferendis ipsam 
                 cupiditate sed debitis facere consequatur 
                 illum veniam ea natus mollitia beatae.
                 Soluta, voluptatum.</p>
        </ul>
        <ul>
            <li><h1>Formacion 2</h1> - 
            <h3>(años)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Neque animi, voluptas, placeat, 
                 provident quam enim perferendis ipsam 
                 cupiditate sed debitis facere consequatur 
                 illum veniam ea natus mollitia beatae.
                 Soluta, voluptatum.</p>
        </ul>
        <ul>
            <li><h1>Formacion 3</h1> - 
            <h3>(años)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Neque animi, voluptas, placeat, 
                 provident quam enim perferendis ipsam 
                 cupiditate sed debitis facere consequatur 
                 illum veniam ea natus mollitia beatae.
                 Soluta, voluptatum.</p>
        </ul>

    </div>
</div>
