.row{
    padding: 20px;
}
div{
    background-color: #a1b5cb;
    text-align: center; 
}
/*Foto de Perfil*/

@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 82%;
        box-shadow: 3px 3px 3px grey;
        left: 4%;
        top: 450px;
    }
}
@media (max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 29%;
        border-radius: 64%;
        box-shadow: 3px 3px 3px grey;
        left: 34%;
        top: 481px;
    }
}

/*Etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin: 2rem auto;
    margin-top: 30%;
    width: 124px;
    text-align: center;
}
#nombre.p{
    text-align: center;
    padding-top: 75px;
}